<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.bucm.mapper.UserFaceTzmMapper">

    <select id="selectImgFeature" parameterType="java.lang.String" resultType="int">
        select count(1) from TONGUE_TZM where XGH = #{xgh}
    </select>

    <select id="findAllUserFaceTzmList" resultType="cn.edu.bucm.mapper.UserFaceTzm">
        select * from TONGUE_TZM
    </select>

    <insert id="insertImgFeature" parameterType="cn.edu.bucm.mapper.UserFaceTzm">
        insert into
            TONGUE_TZM (ID, XGH, TZM)
        values
            (
                tzm_seq.NEXTVAL,
                #{userFaceTzm.xgh},
                #{userFaceTzm.tzm,jdbcType=CLOB}
            )
    </insert>

    <update id="updateImgFeature" parameterType="cn.edu.bucm.mapper.UserFaceTzm">
        update
            TONGUE_TZM
        set
            TZM = #{userFaceTzm.tzm,jdbcType=CLOB}
        where
            XGH = #{userFaceTzm.xgh}
    </update>
</mapper>